<header>
    <div class="header_bar">
        <div class="header_logo">
            <a href="">
                <img src={{imageSrc}} alt="logo" style="height:50px"/>
            </a>
        </div>
        <div class="right_menus">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Sachin Tendulkar</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>

    </div>

</header>